---
const routes = [
    { name: 'Listado', path: '/' },
    { name: 'Paginado', path: '/pokemons/1' },
    { name: 'Favoritos', path: '/favorites' },
];

const hasActiveRoute = (path: string) => {
    console.log(Astro.url.pathname, path);
    return Astro.url.pathname === path;
}
---

<nav class="bg-white shadow dark:bg-slate-600">
    <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
        {routes.map(({ name, path }) => (

            <a
                href={path}
                class:list={[
                    'text-gray-800 dark:text-gray-200 mx-1.5 sm:mx-6',
                    { 'hover:text-gray-800 dark:hover:text-gray-200 hover:border-b-2 hover:border-blue-500': !hasActiveRoute(path) },
                ]}
            >
                {name}

                { hasActiveRoute(path) && <span class="block w-full border-b-2 border-blue-500 rounded-full" transition:name="menu-line"></span> }
            </a>
        ))}
        <!-- <a href="#" class="text-gray-800 dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6">Listado</a>
        <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Paginado</a>
        <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Favoritos</a> -->
    </div>
</nav>