---
import Layout from "../../layouts/Layout.astro";
export const getStaticPaths = (() => {
    
    return [
        { params: { name: "bulbasaur" } },
        { params: { name: "ivysaur" } }
    ];
})

const { name } = Astro.params;
---

<Layout title="Pokémon Static | Pokémon Detail">
    <h1>{name}</h1>
    <hr>
    <p>Desde aquí podremos ver el detalle de cada Pokémon</p>
</Layout>