---
import PokemonCard from "../../components/Pokemon/PokemonCard.astro";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (() => {
    return [
        { params: { name: "bulbasaur" }, props: { url: "https://pokeapi.co/api/v2/pokemon/1" } },
        { params: { name: "ivysaur" }, props: { url: "https://pokeapi.co/api/v2/pokemon/2" } }
    ];
})

const { name } = Astro.params;
const { url } = Astro.props;
---

<Layout title="Pokémon Static | Pokémon Detail">
    <a href="/" class="hover:underline text-blue-500">Regresar</a>
    <h1 class="text-5xl">{name}</h1>
    <hr>

    <PokemonCard url={url} />

    <p>Desde aquí podremos ver el detalle de cada Pokémon</p>
</Layout>