---
import PokemonCard from "../../components/Pokemon/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces";
import Layout from "../../layouts/Layout.astro";
import { fetchPokemonList } from "../../utils/pokemon";
const { results } = await fetchPokemonList();
---

<Layout title="Pokémon Static | Home">
	<h1>Listado de Pokémon</h1>
	<hr>

	<section aria-label="Listado de Pokémon" class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4">
		{
			results.map(({ data }) => (
				<PokemonCard data={data} />
			))
		}
	</section>
</Layout>