---
import type { Pokemon } from '../../interfaces';

interface Props { data: Pokemon; };
const { data:pokemon } = Astro.props;
---

<a href={`/pokemon/${pokemon.name}`} class="rounded border flex flex-col justify-center items-center">
    <img src={pokemon.sprites.other?.['official-artwork'].front_default} alt={pokemon.name} />
    <span>{pokemon.name}</span>
</a>