---
import type { Pokemon } from '../../interfaces';
interface Props { url: string; };
const { url } = Astro.props;
const pokemon = (await (await fetch(url)).json()) as Pokemon;
---

<div class="rounded border flex flex-col justify-center items-center">
    <img src={pokemon.sprites.other?.['official-artwork'].front_default} alt={pokemon.name} />
    <span>{pokemon.name}</span>
</div>