---
import { ClientRouter, ViewTransitions } from "astro:transitions";


---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
        <ClientRouter />
    </head>
    <body>
        
    </body>
</html>