---
import PokemonCard from "@components/pokemon/PokemonCard.astro";
import Title from "@components/shared/Title.astro";
import Layout from "@layouts/Layout.astro";
import { fetchPokemonList } from "@utils/pokemon";

const { results } = await fetchPokemonList(151);
---

<Layout title="Pokémon Static | Home">
	<Title>Listado de Pokémon</Title>

	<section aria-label="Listado de Pokémon" class="grid grid-cols-1 p-4 sm:grid-cols-4 md:grid-cols-5 gap-4">
		{
			results.map(({ data }) => (
				<PokemonCard data={data} class="border [&>img]:size-24"/>
			))
		}
	</section>

</Layout>