---
import { Counter } from "@components/Counter";
import Title from "@components/shared/Title.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Pokémon Static | Home">
    <Title>Islas</Title>
    <div style="height: 2000px; background: lightgray; opacity: 0.5;"></div>
    <Counter client:visible />
</Layout>